 <html>
     <head>
         <title>Human | Configuration</title>
         <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
         <link rel="stylesheet" href="/gui/css/shared.css">
         <link rel="stylesheet" href="/gui/css/navbar.css">
         <link rel="stylesheet" href="/gui/css/basic.css">
         <link rel="stylesheet" href="/gui/css/modal.css">
         <link rel="stylesheet" href="/human/css/basic.css">
     </head>
     <body>
     <div class="navbar">
         <a href="/">Home</a>
         <a href="/logout" style="float:right">Logout</a>
     </div>
     <center style="margin-bottom: 100px">
            <div id="human-info" class="row-canvas">
            <div class="section-profile">
                <div class="row">
                    <div class="column" style="flex:100%;">
                        <center>
                            <h1 style="font-size: 60px;margin-top:30px;">Human plugin</h1>
                            <hr><br/>
                            <span style="display:block;">This plugin allows you to design a human that will emulate user behavior on an endpoint. Use the following steps to build and deploy your own human:</span>
                            <ol class="human-header-list">
                                <li>Install Python3</li>
                                <li>Install Python3 Virtualenv</li>
                                <li>Install Chrome</li>
                                <li>Build a human below and run the download cradle from a shell (sh, powershell, etc)</li>
                            </ol>
                    </center>
                    </div>
                </div>
            </div>
        </div>
         <div id="human-commands" class="row-canvas">
            <div class="section-profile">
                <div class="row">
                    <div class="topright duk-icon"><img onclick="openLocalDuk()" src="/gui/img/duk.png"></div>

                    <div class="column section-border" style="flex:25%;text-align:left;padding:15px;">
                         <h1 id="human-name-header" style="font-size:70px;margin-top:-20px;">Human</h1>
                         <h2 style="margin-top:-55px">emulate human behavior</h2>
                         <p>
                            Design and generate your human, then deploy that human on a target system.
                         </p>
                         <br>

                    </div>
                    <div class="column" style="flex:75%;padding:15px;text-align: left">
                        <div class="row row-interior">
                            <div id="behavior-options" class="column column-interior human-box">
                                <table>
                                    <tr>
                                        <td><p>Name:</p></td>
                                        <td><input id="human-name" type="text" placeholder="Enter human's name..."></td>
                                    </tr>
                                    <tr>
                                        <td><p>Platform:</p></td>
                                        <td>
                                            <select id="base-platform">
                                                <option disabled="disabled" selected="">Select target OS</option>
                                                <option value="darwin">MacOS</option>
                                                <option value="linux">Linux</option>
                                                <option value="windows-psh">Windows (PowerShell)</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <h4>Select your human's behaviors:</h4>
                                <ul id="human-tasks">
                                    {% for m in modules %}
                                    <li>
                                        <input type="checkbox" name="human-{{m.name}}" id="human-{{m.name}}"/>
                                        <span>{{ m.description }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>

                                <h4>Human behavior configuration:</h4>
                                <table>
                                    <tr>
                                        <td><p>Task Sleep Interval</p></td>
                                        <td><input class="queueOption" type="range" min="5" max="50" value="10" class="slider" id="human-task-interval" name="human-task-interval" onchange="updateNumberField(this);"/></td>
                                        <td><input type="number" id="human-task-interval-text" onchange="updateSlider(this);"></td>
                                    </tr>
                                    <tr>
                                        <td><p>Task Cluster Sleep Interval</p></td>
                                        <td><input class="queueOption" type="range" min="5" max="1000" value="500" class="slider" id="human-cluster-interval" name="human-cluster-interval" onchange="updateNumberField(this);"/></td>
                                        <td><input type="number" id="human-cluster-interval-text" onchange="updateSlider(this);"></td>
                                    </tr>
                                    <tr>
                                        <td><p>Tasks per Cluster</p></td>
                                        <td><input class="queueOption" type="range" min="1" max="20" value="5" class="slider" id="human-task-count" name="human-task-count" onchange="updateNumberField(this);"/></td>
                                        <td><input type="number" id="human-task-count-text" onchange="updateSlider(this);"></td>
                                    </tr>
                                </table>
                                <ul>
                                    <li>

                                    </li>
                                </ul>
                                <button id="generateLayer" type="button" class="button-success" style="" onclick="generateHuman();">Generate Human</button>
                            </div>
                            <div class="column column-interior" style="text-align: left;">
                                <code id="delivery-commands" style="text-align: left; font-size:14px;"></code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <div id="duk-modal" class="modal">
            <form class="modal-content">
                <div class="container">
                    <div class="row duk-modal">
                        <span onclick="document.getElementById('duk-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <div class="column" style="flex:8%">
                            <img src="/gui/img/duk.png"/>
                        </div>
                        <div class="column" style="flex:92%">
                            <p id="duk-text" style="color: white"></p>
                        </div>
                    </div>
                </div>
             </form>
          </div>

         </center>
     </body>
     <script src="/gui/jquery/jquery.js"></script>
     <script src="/gui/js/shared.js"></script>
     <script>
         window.onload = function () {
         	['human-task-interval', 'human-cluster-interval', 'human-task-count'].forEach(elem => defaultNumberField(elem));
		 };
         function defaultNumberField(elem) {
        	document.getElementById(elem+'-text').value = document.getElementById(elem).value;
        }
        function updateNumberField(elem){
            document.getElementById(elem.name+'-text').value=elem.value;
        }
        function updateSlider(elem) {
	        let slider = elem.id.replace('-text', '');
	        document.getElementById(slider).value = elem.value;
		}
        function generateHuman() {
            let cmdBlock = $("#delivery-commands");
            cmdBlock.empty();
            let humanName = $('#human-name').val();
            if (humanName === '') {
            	alert('Enter a human name');
            	return;
            }
            let platform = $("#base-platform").val();
            if (platform === null) {
				alert('Select a platform!');
				return;
			}
            let taskList = [];
            $('#human-tasks').find('li > input').each(function (e) {
            	if ($(this).is(':checked')){
            	    taskList.push($(this).attr('name').replace('human-', ''));
                }
			});
            if (taskList.length === 0) {
            	alert('Select tasks for your human to execute!');
            	return
            }
            let postData = {'index':'human', 'platform':platform, 'name':humanName, 'tasks':taskList};
            restRequest('POST', postData, renderDownloadCommand, endpoint='/plugin/human/api');
        }

        function renderDownloadCommand(data) {
            let cmdBlock = $("#delivery-commands");
         	if (data) {
         		let http = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
         		let taskClusterInterval = $('#human-cluster-interval').val();
                let taskInterval = $('#human-task-interval').val();
                let taskCount = $('#human-task-count').val();
                let humanName = $('#human-name').val();
                let platform = $("#base-platform").val();
                let baseHuman = "";
                $('#human-name-header').text(humanName);
                switch (platform) {
                    case "darwin":
                        baseHuman = 'curl -sk -o '+humanName+'.tar.gz -X POST -H \'file:'+humanName+'.tar.gz\' '+http+'/file/download 2>&1 && mkdir '+humanName+' && tar -C '+humanName+' -zxvf '+humanName+'.tar.gz ' +
                            '&& cd '+humanName+' && virtualenv -p python3 '+humanName+' && '+humanName+'/bin/pip install -r requirements.txt && '+humanName+'/bin/python human.py --clustersize '+taskCount+' ' +
                            '--taskinterval '+taskInterval+' --taskgroupinterval '+taskClusterInterval;
                        break;
                    case "linux":
                        baseHuman = 'curl -sk -o '+humanName+'.tar.gz -X POST -H \'file:'+humanName+'.tar.gz\' '+http+'/file/download 2>&1 && mkdir '+humanName+' && tar -C '+humanName+' -zxvf '+humanName+'.tar.gz ' +
                            '&& cd '+humanName+' && virtualenv -p python3 '+humanName+' && '+humanName+'/bin/pip install -r requirements.txt && '+humanName+'/bin/python human.py --clustersize '+taskCount+' ' +
                            '--taskinterval '+taskInterval+' --taskgroupinterval '+taskClusterInterval;
                        break;
                    case "windows-psh":
                        baseHuman = '$server="'+http+'"; $url="$server/file/download"; $wc=New-Object System.Net.WebClient; $wc.Headers.add("file","'+humanName+'.zip"); $data=$wc.DownloadData($url); ' +
                            '[io.file]::WriteAllBytes(".\\'+humanName+'.zip", $data); Expand-Archive '+humanName+'.zip -DestinationPath '+humanName+' -Force; cd '+humanName+'; python.exe -m venv '+humanName+';' +
                            '.\\'+humanName+'\\Scripts\\pip.exe install -r requirements.txt; .\\'+humanName+'\\Scripts\\python.exe human.py --clustersize '+taskCount+' ' +
                            '--taskinterval '+taskInterval+' --taskgroupinterval '+taskClusterInterval+';';
                        break;
                }
                cmdBlock.append(baseHuman);
            } else {
         		cmdBlock.append('Could not render human download command');
            }
		}

		function openLocalDuk() {
             document.getElementById("duk-modal").style.display="block";
            $('#duk-text').html('Did you know... your human behavior configuration will impact how the application behaves on the endpoint.' +
                '<ul><li>Task Sleep Interval         - Maximum sleep time between individual tasks executing</li>' +
                '<li>Task Cluster Sleep Interval - Maximum sleep time between clusters of tasks executing</li>' +
                '<li>Tasks per Cluster           - Maximum number of tasks to execute per cluster</li></ul>');
         }
     </script>
 </html>